header {
	height: 50px;
	background-color: #fff;
}

h2 {
	color: rgb(255, 0, 128);
	font-weight: bold;
	display: inline-block;
}

header a {
	display: inline-block;
	color: #000;
	font-size: 1rem;
	margin: 0 10px;
	padding: 1.6rem 0;
	text-decoration: underline;
}

header img {
	height: 1rem;
}

nav {
	float: right;
	text-transform: uppercase;
}


main {
	background-color: lightgrey;
	padding: 15px;
}

#grids {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	column-gap: 10px;
	row-gap: 20px;
}

.grid-item {
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	padding: 20px;
	font-size: 30px;
	background-color: #fff;
}

.grid-item img {
	height: 400px;
	max-width: fit-content;
}



h3 {
	text-align: center ;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}

body {
	width: 100%;
	margin: 0;
	/* background-color: lightgrey; */
}

/* h1 {
	font-size: 2.5rem;
	margin: 0;
} */

.colored {
	color: rgb(252, 49, 127);
	font-weight: bold;
}

.selected {
	color: rgb(252, 49, 127);
}

footer {
	background-color: #fff;
	text-align: center;
}

.grey-text {
	color: grey;
}


h6 {
	color: rgb(255, 0, 128);
	text-transform: uppercase;
}